/*@media all and (max-width: 1000px) {*/

html {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  background: #34383d;
}

body {
  background: #34383d;
}
.centeredtruckentries {
  background: #34383d;
}
.headerblue {
  width: 100%;
  position: fixed;
  height: 105px;
  background-color: #96B2B0;
  top: 0px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
  -webkit-filter: drop-shadow(0px 5px 1px rgba(30,30,30,0.85));
      filter: drop-shadow(0px 5px 1px rgba(30,30,30,0.85));
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
.headerblue.small {
  width: 100%;
  position: fixed;
  height: 75px;
  background-color: #96B2B0;
  top: 0px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
  -webkit-filter: drop-shadow(0px 5px 1px rgba(30,30,30,0.85));
      filter: drop-shadow(0px 5px 1px rgba(30,30,30,0.85));
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
.centeredimagezindex5
  {
  width: 100%;
  text-align: center;
  position: fixed;
  top: -25px;
  z-index: 5;
  -webkit-filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
      filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
.centeredimagezindex5.small
  {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 5;
  -webkit-filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
      filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
.headergraphic
  {
  background-image: url(../img/FoodTruckHeaderGraphic.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  width: 800px;
  margin: 0 auto;
  height: 240px;
  -webkit-filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
  filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  }
  
.headergraphic.small
  {
  background-image: url(../img/FoodTruckHeaderGraphicsmall.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  width: 600px;
  margin: 0 auto;
  height: 200px;
  -webkit-filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
      filter: drop-shadow(5px 8px 1px rgba(30,30,30,0.75));
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
}

.topofpagespacer 
  {
  height: 250px;
  position: relative;
  top: 2px;
  right: 0;
  left: 5px;
  margin-right: auto;
  margin-left: auto;
  }

.horizontalborders
  {
  text-align:center;
  width: 100%;
  margin-left: auto;
  margin-right; auto;
      display: block;
  }

img.header 
  { 
  max-width: 900px;
  min-width: 500px;
  }
  
.truckentry
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  position: relative;
  }
  
.verticaldivider
  {
  height: 220px;
  display: inline-block;
  width: 3px;
  border-left: 2px solid #7B7C7A;
  margin-left: auto;
  margin-right; auto;
  }

a.menubuttoncontainer
  {
  height: 225px;
  width: 8%;
  display: inline-block;
  background-image: url(../img/truckoption1.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
.menubuttoncontainer
  {
  height: 225px;
  width: 8%;
  display: inline-block;
  }
  
.menubutton
  {
      text-align:center;
      }

.trucknamecontainer
  {
  height: 225px;
  width: 65%;
  display: inline-block;
  }

.truckname
  {
  font-family: 'Walter Turncoat', cursive;
  font-size: 5em;
  text-align: right;
  color: #bbbdbf;
  max-height: 60px;
  max-width: 98%;
  right: 5px;
  line-height: 80%;
  display: block;
  position: relative;
  bottom: 10%;
  }
  
.truckdescription
  {
  font-family: georgia;
  font-style: italic;
  font-size: 1rem;
  display: block;
  letter-spacing: 1.5px;
  max-width: 98%;
  }
  
.truckname_closed
  {
  font-family: 'Walter Turncoat', cursive;
  font-size: 5em;
  text-align: right;
  color: #6c6c6e;
  max-height: 60px;
  max-width: 98%;
  right: 5px;
  line-height: 80%;
  display: block;
  position: relative;
  bottom: 10%;
  }

a.distancecontainer
  {
  height: 225px;
  width: 22%;
  background-image: url(../img/distanceicon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  }
  
.distancecontainer_closed
  {
  height: 225px;
  width: 22%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  }
  
.numericdistance
  {
  position: relative;
  display: inline-block;
  font-family: georgia;
  font-style: italic;
  font-size: 4rem;
  line-height: 200%;
  font-weight: 200;
  color: #D36318;
  top: 20px;
  letter-spacing: -4px;
  }
  
.numericdistance_closed
  {
  position: relative;
  display: inline-block;
  font-family: georgia;
  font-style: italic;
  font-size: 6rem;
  line-height: 200%;
  font-weight: 200;
  color: #6c6c6e;
  letter-spacing: -4px;
  top: -20px;
  }
  
.distanceunit
  {
  position: relative;
  display: inline-block;
  font-family: georgia;
  font-style: italic;
  font-size: 1rem;
  line-height: 200%;
  font-weight: 200;
  color: #D36318;
  top: -30px;
  }
  
.distanceunit_closed
  {
  position: relative;
  display: inline-block;
  font-family: georgia;
  font-style: italic;
  font-size: 1rem;
  line-height: 90%;
  font-weight: 200;
  color: #6c6c6e;
  top: -60px;
  }
  
.extramenubardivider
  {
  width: 3px;
  border-left: 2px solid #D36318;
  height: 100%;
  text-align:center;
  margin-left: auto;
  margin-right; auto;
  display: inline-block;
  position: relative;
  top: 5%;
  }
  
#extramenubar1
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }
  
#extramenubar2
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar3
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar4
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar5
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar6
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar7
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar8
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar9
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

#extramenubar10
  {
  width:100%;
  max-width: 1050px;
  min-width: 600px;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
  }

.extramenubarbuttons
  {
  display: inline-block;
  width: 300px;
  text-align: center;
  position: relative;
  bottom: 25%;
  }
  
.extramenubartext
  {
  font-family: georgia;
  font-style: italic;
  font-size: 2.75rem;
  color: #D36318;
  letter-spacing: 2px;
  text-align: center;
  }